@import "tailwindcss";
@plugin "daisyui"{
    hemes: light --default, dark --prefersdark;
}



@font-face {
    font-family: 'Gothic';
    src: url('/fonts/SpecialGothicExpandedOne-Regular.ttf');
}

@theme {
    --font-gothic: "Gothic", sans-serif;
}